package components

import "AGoTTHT/internal/api/canvas"

templ EmptyClass() {
	<div id="course-details-container" class="mt-4">
		<p class="text-gray-500">Select a class to view details.</p>
	</div>
}

templ ClassProgress(details []canvas.Module) {
	<div id="course-details-container" class="mt-6 bg-brand-dark border-3 border-brand-accent rounded-lg flex flex-col justify-between h-full w-full p-6 text-lg shadow-md  antialiased">
		for _,value := range details {
			<div>
				<div>{ value.Name }:</div>
				for _,items := range value.Items {
					if (items.Type == "Assignment" || items.Type == "Discussion") {
						<div class="ml-12">
							if (items.Title != "") {
								<a href={ items.HTMLURL }>{ items.Title }</a>
								if items.CompletionRequirement != nil {
									if items.CompletionRequirement.Completed {
										- Completed &#9989;
									} else {
										- Not Completed 🥺
									}
								} else {
									- No Requirement
								}
							} 
						</div>
					}
				}
			</div>
			<hr style="border: none; border-top: 1px solid #ECDFCC; margin: 20px 0;"/>
		}
	</div>
}
