package components

import "AGoTTHT/internal/api/canvas"

templ EmptyClass() {
	<div id="course-details-container" class="mt-4">
		<p class="text-gray-500">Select a class to view details.</p>
	</div>
}

templ ClassProgress(details []canvas.Module) {
	<div id="course-details-container" class="mt-4">
		<p class="text-gray-500">test string to see if it works</p>
	</div>
}