package components

import "AGoTTHT/internal/api/canvas"

templ Home() {
	<h1>Hello from the well-structured Home Page!</h1>
}

templ Grades(courses []canvas.Course) {
	<div class="ml-12 mr-12 mt-16 grid grid-cols-2 gap-4 justify-items-center">
		@classes(courses)
	</div>
}

templ CourseProgress(courses []canvas.Course, details templ.Component) {
	<div class="ml-12 mr-12 mt-16 gap-4 justify-items-center">
		@dropdown(courses)
		<div id="course-details-container">
			@details
		</div>
	</div>
}
