package components

templ Home() {
	<h1>Hello from the well-structured Home Page!</h1>
}

templ Grades() {
	<h1>Grades Info Goes Here</h1>
}

templ CourseProgress() {
	<h1>Grades Info Goes Here</h1>
}